easysoa-proxy/easysoa-proxy-core/easysoa-proxy-locator-mock-server/src/main/resources/LocatorService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--

 Copyright (c) 2011 Talend Inc. - www.talend.com
 All rights reserved.

 This program and the accompanying materials are made available
 under the terms of the Apache License v2.0
 which accompanies this distribution, and is available at
 http://www.apache.org/licenses/LICENSE-2.0

 -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:lpx="http://talend.org/schemas/esb/locator/2011/11"
	xmlns:lps="http://www.talend.org/services/esb/locator/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://www.talend.org/services/esb/locator/v1">
	<types>
		<xsd:schema elementFormDefault="qualified"
			targetNamespace="http://talend.org/schemas/esb/locator/2011/11"
			xmlns="http://talend.org/schemas/esb/locator/2011/11" xmlns:wsa="http://www.w3.org/2005/08/addressing">
			<xsd:import namespace="http://www.w3.org/2005/08/addressing"
				schemaLocation="http://www.w3.org/2005/08/addressing/ws-addr.xsd" />
			
			<xsd:import namespace="http://talend.org/schemas/esb/locator/2011/11"
			schemaLocation="locator-soap-types.xsd"/>
		</xsd:schema>
	</types>
	<message name="registerEndpointInput">
		<part name="parameters" element="lpx:registerEndpoint" />
	</message>
	<message name="registerEndpointOutput">
		<part name="parameters" element="lpx:registerEndpointResponse"/>
	</message>
	<message name="unregisterEndpointInput">
		<part name="parameters" element="lpx:unregisterEndpoint" />
	</message>
	<message name="unregisterEndpointOutput">
		<part name="parameters" element="lpx:unregisterEndpointResponse"/>
	</message>
	<message name="lookupEndpointInput">
		<part name="parameters" element="lpx:lookupEndpoint" />
	</message>
	<message name="lookupEndpointOutput">
		<part name="parameters" element="lpx:lookupEndpointResponse" />
	</message>
	<message name="lookupEndpointsInput">
		<part name="parameters" element="lpx:lookupEndpoints" />
	</message>
	<message name="lookupEndpointsOutput">
		<part name="parameters" element="lpx:LookupEndpointsResponse" />
	</message>
	<message name="InterruptedExceptionFault">
		<part name="InterruptionFaultDetail" element="lpx:InterruptionFaultDetail" />
	</message>
	<message name="ServiceLocatorFault">
		<part name="ServiceLocatorFaultDetail" element="lpx:ServiceLocatorFaultDetail" />
	</message>
	<portType name="LocatorService">
		<operation name="registerEndpoint">
			<input message="lps:registerEndpointInput" />
			<output message="lps:registerEndpointOutput" />
			<fault name="InterruptedExceptionFault" message="lps:InterruptedExceptionFault" />
			<fault name="ServiceLocatorFault" message="lps:ServiceLocatorFault" />
		</operation>
		<operation name="unregisterEndpoint">
			<input message="lps:unregisterEndpointInput" />
			<output message="lps:unregisterEndpointOutput" />
			<fault name="InterruptedExceptionFault" message="lps:InterruptedExceptionFault" />
			<fault name="ServiceLocatorFault" message="lps:ServiceLocatorFault" />
		</operation>
		<operation name="lookupEndpoint">
			<input message="lps:lookupEndpointInput" />
			<output message="lps:lookupEndpointOutput" />
			<fault name="InterruptedExceptionFault" message="lps:InterruptedExceptionFault" />
			<fault name="ServiceLocatorFault" message="lps:ServiceLocatorFault" />
		</operation>
		<operation name="lookupEndpoints">
			<input message="lps:lookupEndpointsInput" />
			<output message="lps:lookupEndpointsOutput" />
			<fault name="InterruptedExceptionFault" message="lps:InterruptedExceptionFault" />
			<fault name="ServiceLocatorFault" message="lps:ServiceLocatorFault" />
		</operation>
	</portType>
	<binding name="LocatorServiceSoapBinding" type="lps:LocatorService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="registerEndpoint">
			<soap:operation soapAction="registerEndpoint" />
			<input>
				<soap:body use="literal" />
			</input>
			<output />
			<fault name="InterruptedExceptionFault">
				<soap:fault name="InterruptedExceptionFault" use="literal" />
			</fault>
			<fault name="ServiceLocatorFault">
				<soap:fault name="ServiceLocatorFault" use="literal" />
			</fault>
		</operation>
		<operation name="unregisterEndpoint">
			<soap:operation soapAction="unregisterEndpoint" />
			<input>
				<soap:body use="literal" />
			</input>
			<output />
			<fault name="InterruptedExceptionFault">
				<soap:fault name="InterruptedExceptionFault" use="literal" />
			</fault>
			<fault name="ServiceLocatorFault">
				<soap:fault name="ServiceLocatorFault" use="literal" />
			</fault>
		</operation>
		<operation name="lookupEndpoint">
			<soap:operation soapAction="lookupEndpoint" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="InterruptedExceptionFault">
				<soap:fault name="InterruptedExceptionFault" use="literal" />
			</fault>
			<fault name="ServiceLocatorFault">
				<soap:fault name="ServiceLocatorFault" use="literal" />
			</fault>
		</operation>
		<operation name="lookupEndpoints">
			<soap:operation soapAction="lookupEndpoints" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="InterruptedExceptionFault">
				<soap:fault name="InterruptedExceptionFault" use="literal" />
			</fault>
			<fault name="ServiceLocatorFault">
				<soap:fault name="ServiceLocatorFault" use="literal" />
			</fault>
		</operation>
	</binding>
	<service name="LocatorService">
		<port name="LocatorServiceSoap" binding="lps:LocatorServiceSoapBinding">
			<soap:address
				location="http://localhost:8040/services/ServiceLocatorService" />
		</port>
	</service>
</definitions>