plugins/easysoa-demo-model-core/src/main/resources/schemas/endpoints.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://nuxeo.org/schemas/endpoints/">

  <xs:element name="name" type="xs:string" />
  <xs:element name="uri" type="xs:string" />
  <xs:element name="machine" type="xs:string" />
  <xs:element name="provider" type="xs:string" />
  <xs:element name="environment" type="xs:string" />
  <xs:element name="protocols" type="xs:string" />
  <xs:element name="implementation" type="xs:string" />
  
  <xs:element name="location" type="xs:string" /> <!-- Champ interne -->
  <xs:element name="servicename" type="xs:string" /> <!-- Champ interne -->
  
</xs:schema>