plugins/easysoa-demo-model-core/src/main/resources/schemas/wsdlBindings.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://www.nuxeo.org/ecm/schemas/wsdl/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:nxs="http://www.nuxeo.org/ecm/schemas/wsdl/">
  
  <xs:element name="files" type="nxs:bindings" />
  
  <xs:complexType name="bindings">
  	<xs:sequence>
  	  <xs:element name="binding" type="nxs:binding" minOccurs="0" maxOccurs="unbounded" />
  	</xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="binding">
    <xs:sequence>
      <xs:element name="name" type="xs:string" />
      <xs:element name="endpointName" type="xs:string" />
      <!-- TODO -->
    </xs:sequence>
  </xs:complexType>
    
</xs:schema>