easysoa-proxy/easysoa-proxy-core/easysoa-proxy-core-scaffolderproxy/src/main/resources/defaultWsdl/airport_soap.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://airportsoap.sopera.de" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://airportsoap.sopera.de" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://airportsoap.sopera.de">
      <!-- Need to add type attribute otherwise doesn't works with original WSDL -->
      <!-- And need to add name attribute for complex type ... -->
      <xsd:element name="getAirportInformationByISOCountryCode" type="tns:getAirportInformationByISOCountryCodeSoapIn">
        <xsd:complexType name="getAirportInformationByISOCountryCode">
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="CountryAbbrviation" type="s:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <!-- Need to add type attribute otherwise doesn't works with original WSDL -->
      <!-- And need to add name attribute for complex type ... -->      
      <xsd:element name="getAirportInformationByISOCountryCodeResponse" type="tns:getAirportInformationByISOCountryCodeSoapOut">
        <xsd:complexType name="getAirportInformationByISOCountryCodeResponse">
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="getAirportInformationByISOCountryCodeResult" type="s:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="string" nillable="true" type="s:string" />
    </xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="getAirportInformationByISOCountryCodeSoapIn">
    <wsdl:part name="parameters" element="tns:getAirportInformationByISOCountryCode" />
  </wsdl:message>
  <wsdl:message name="getAirportInformationByISOCountryCodeSoapOut">
    <wsdl:part name="parameters" element="tns:getAirportInformationByISOCountryCodeResponse" />
  </wsdl:message>
  
  <wsdl:portType name="airportSoap">
    <wsdl:operation name="getAirportInformationByISOCountryCode">
      <wsdl:input message="tns:getAirportInformationByISOCountryCodeSoapIn" />
      <wsdl:output message="tns:getAirportInformationByISOCountryCodeSoapOut" name="getAirportInformationByISOCountryCodeResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <!-- Modified binding to be compliant with talend service provider -->  
  <!--<wsdl:binding name="airportSoapBinding" type="tns:airportSoap">-->
  <wsdl:binding name="airportSoap" type="tns:airportSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAirportInformationByISOCountryCode">
      <soap:operation soapAction="http://airportsoap.sopera.de/getAirportInformationByISOCountryCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="airport">
    <wsdl:port name="airportSoap" binding="tns:airportSoap">
      <soap:address location="http://localhost:8200/esb/AirportService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>