plugins/easysoa-model-demo-core/src/main/resources/schemas/feature.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://www.nuxeo.org/ecm/schemas/file/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:nxs="http://www.nuxeo.org/ecm/schemas/file/">

  <xs:include schemaLocation="core-types.xsd" />

  <xs:element name="creator" type="xs:string" />
  <xs:element name="designDocument" type="nxs:content" />
  <xs:element name="designDocumentSource" type="xs:string" />

</xs:schema>
