plugins/easysoa-model-demo-core/src/main/resources/schemas/serviceTags.xsd

<?xml version="1.0"?>
<xs:schema
  targetNamespace="http://www.nuxeo.org/ecm/schemas/servicetags/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:nxs="http://www.nuxeo.org/ecm/schemas/servicetags/">
  
  <xs:include schemaLocation="base.xsd" />
  
  <xs:element name="application" type="xs:string" />
  <xs:element name="uiUrl" type="xs:string" />
  
  <!-- INTERNE : descriptor selection -->
  <xs:element name="descriptorid" type="xs:string" />
  <!-- INTERNE : implémentations visualization (maintained according to the related descriptor) -->
  <xs:element name="implementations" type="xs:string" /> 

</xs:schema>