plugins/easysoa-model-demo-core/src/main/resources/schemas/serviceapidef.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://www.nuxeo.org/ecm/schemas/apidef/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
  <xs:element name="application" type="xs:string" />
  <xs:element name="url" type="xs:string" />
  <xs:element name="sourceUrl" type="xs:string" />
  <xs:element name="machine" type="xs:string" />
  <xs:element name="provider" type="xs:string" />
  <xs:element name="protocols" type="xs:string" />
  <xs:element name="environment" type="xs:string" />

</xs:schema>