plugins/easysoa-model-demo-core/src/main/resources/schemas/soacommon.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://www.nuxeo.org/ecm/schemas/soacommon/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="discoveryTypeBrowsing" type="xs:string" />
  <xs:element name="discoveryTypeMonitoring" type="xs:string" />
  <xs:element name="discoveryTypeImport" type="xs:string" />
  
</xs:schema>