plugins/easysoa-model-demo-core/src/main/resources/schemas/soacommon.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://www.nuxeo.org/ecm/schemas/soacommon/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Discovery info : -->

  <xs:element name="discoveryTypeBrowsing" type="xs:string" />
  <xs:element name="discoveryTypeMonitoring" type="xs:string" />
  <xs:element name="discoveryTypeImport" type="xs:string" />


  <!-- Architecture info : -->

  <!-- path in (sca) archi. TODO or rather in disco info, or in ref & service ? TODO or reused from File / title ?? -->
  <xs:element name="archiPath" type="xs:string" />
  
  <!-- local name in archi -->
  <xs:element name="archiLocalName" type="xs:string" />
  
</xs:schema>