samples/easysoa-samples-smarttravel/easysoa-samples-smarttravel-translate-model/src/main/resources/wsdl/translate.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Soap" targetNamespace="http://tempuri.org/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsa10="http://www.w3.org/2005/08/addressing"
    xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
    xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
    xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
    xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
    xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
    xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://tempuri.org/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
    <wsdl:types>
        <xsd:schema targetNamespace="http://tempuri.org/Imports">
            <xsd:import
                schemaLocation="http://api.microsofttranslator.com/V1/Soap.svc?xsd=xsd0"
                namespace="http://tempuri.org/" />
            <xsd:import
                schemaLocation="http://api.microsofttranslator.com/V1/Soap.svc?xsd=xsd1"
                namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
            <xsd:import
                schemaLocation="http://api.microsofttranslator.com/V1/Soap.svc?xsd=xsd2"
                namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="LanguageService_GetLanguages_InputMessage">
        <wsdl:part name="parameters" element="tns:GetLanguages" />
    </wsdl:message>
    <wsdl:message name="LanguageService_GetLanguages_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetLanguagesResponse" />
    </wsdl:message>
    <wsdl:message name="LanguageService_GetLanguageNames_InputMessage">
        <wsdl:part name="parameters" element="tns:GetLanguageNames" />
    </wsdl:message>
    <wsdl:message name="LanguageService_GetLanguageNames_OutputMessage">
        <wsdl:part name="parameters" element="tns:GetLanguageNamesResponse" />
    </wsdl:message>
    <wsdl:message name="LanguageService_Detect_InputMessage">
        <wsdl:part name="parameters" element="tns:Detect" />
    </wsdl:message>
    <wsdl:message name="LanguageService_Detect_OutputMessage">
        <wsdl:part name="parameters" element="tns:DetectResponse" />
    </wsdl:message>
    <wsdl:message name="LanguageService_Translate_InputMessage">
        <wsdl:part name="parameters" element="tns:Translate" />
    </wsdl:message>
    <wsdl:message name="LanguageService_Translate_OutputMessage">
        <wsdl:part name="parameters" element="tns:TranslateResponse" />
    </wsdl:message>
    <wsdl:portType name="LanguageService">
        <wsdl:operation name="GetLanguages">
            <wsdl:input
                wsaw:Action="http://tempuri.org/LanguageService/GetLanguages"
                message="tns:LanguageService_GetLanguages_InputMessage" />
            <wsdl:output
                wsaw:Action="http://tempuri.org/LanguageService/GetLanguagesResponse"
                message="tns:LanguageService_GetLanguages_OutputMessage" />
        </wsdl:operation>
        <wsdl:operation name="GetLanguageNames">
            <wsdl:input
                wsaw:Action="http://tempuri.org/LanguageService/GetLanguageNames"
                message="tns:LanguageService_GetLanguageNames_InputMessage" />
            <wsdl:output
                wsaw:Action="http://tempuri.org/LanguageService/GetLanguageNamesResponse"
                message="tns:LanguageService_GetLanguageNames_OutputMessage" />
        </wsdl:operation>
        <wsdl:operation name="Detect">
            <wsdl:input wsaw:Action="http://tempuri.org/LanguageService/Detect"
                message="tns:LanguageService_Detect_InputMessage" />
            <wsdl:output
                wsaw:Action="http://tempuri.org/LanguageService/DetectResponse"
                message="tns:LanguageService_Detect_OutputMessage" />
        </wsdl:operation>
        <wsdl:operation name="Translate">
            <wsdl:input wsaw:Action="http://tempuri.org/LanguageService/Translate"
                message="tns:LanguageService_Translate_InputMessage" />
            <wsdl:output
                wsaw:Action="http://tempuri.org/LanguageService/TranslateResponse"
                message="tns:LanguageService_Translate_OutputMessage" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BasicHttpBinding_LanguageService"
        type="tns:LanguageService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="GetLanguages">
            <soap:operation
                soapAction="http://tempuri.org/LanguageService/GetLanguages"
                style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetLanguageNames">
            <soap:operation
                soapAction="http://tempuri.org/LanguageService/GetLanguageNames"
                style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Detect">
            <soap:operation soapAction="http://tempuri.org/LanguageService/Detect"
                style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Translate">
            <soap:operation
                soapAction="http://tempuri.org/LanguageService/Translate"
                style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Soap">
        <wsdl:port name="BasicHttpBinding_LanguageService"
            binding="tns:BasicHttpBinding_LanguageService">
            <soap:address
                location="http://api.microsofttranslator.com/V1/Soap.svc" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>