easysoa-registry-v1/easysoa-registry-doctypes-core/src/main/resources/schemas/deliverable.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://www.nuxeo.org/ecm/schemas/del/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:nxs="http://www.nuxeo.org/ecm/schemas/del/">
  
  <xs:simpleType name="stringArray">
    <xs:list itemType="xs:string" />
  </xs:simpleType>
  
  <xs:element name="nature" type="xs:string" />
  <xs:element name="application" type="xs:string" />
  <xs:element name="location" type="xs:string" />
  <xs:element name="dependencies" type="nxs:stringArray" />
    
</xs:schema>