easysoa-registry-v1/easysoa-registry-doctypes-core/src/main/resources/schemas/intelligent-system-tree-root.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://www.nuxeo.org/ecm/schemas/istr/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:nxs="http://www.nuxeo.org/ecm/schemas/istr/">
  
  <!-- Currently unused (TODO: Store ITR information here) -->
  
  <xs:simpleType name="stringArray">
    <xs:list itemType="xs:string" />
  </xs:simpleType>
  
  <xs:element name="type" type="xs:string"/>
  <xs:element name="parameters" type="nxs:stringArray"/>
    
</xs:schema>