easysoa-registry/easysoa-registry-core/src/main/resources/schemas/appliimpldef.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://www.nuxeo.org/ecm/schemas/appliimpldef/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
  <xs:element name="url" type="xs:string" />
  <xs:element name="uiUrl" type="xs:string" />
  <xs:element name="sourcesUrl" type="xs:string" />
  <xs:element name="server" type="xs:string" />
  <xs:element name="provider" type="xs:string" />
  <xs:element name="technology" type="xs:string" />
  <xs:element name="standard" type="xs:string" />
  
  <!-- Internal : needed by virtual navigation by server-->
  <xs:element name="serverEntry" type="xs:string" />
    
</xs:schema>