easysoa-registry/easysoa-registry-core/src/main/resources/schemas/servicedef.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://www.nuxeo.org/ecm/schemas/servicedef/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="url" type="xs:string" />
  <xs:element name="lightUrl" type="xs:string" />
  <xs:element name="callcount" type="xs:int" />
  <xs:element name="participants" type="xs:string" />
  <xs:element name="httpMethod" type="xs:string" />
  <xs:element name="contentTypeIn" type="xs:string" />
  <xs:element name="contentTypeOut" type="xs:string" />
  <xs:element name="fileUrl" type="xs:string" />
  
</xs:schema>