easysoa-registry/easysoa-registry-core/src/main/resources/schemas/workspacedef.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://www.nuxeo.org/ecm/schemas/servicedef/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="referencedWorkspace" type="xs:string" />
  <xs:element name="isValidated" type="xs:boolean" />
  <xs:element name="validationLog" type="xs:string" />
  
</xs:schema>